.CreatePost {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 30px;
  padding: 20px;
  padding-bottom: 5rem;
}

.create-form {
  grid-column: span 2;
}

.vid-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin: 20px;
}

#start {
  background-color: green;
}

#stop {
  background-color: red;
}