.CreatePost {
  margin: 30px;
  padding: 20px;
}
.vid-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin: 20px;
}

#start {
  background-color: green;
}

#stop {
  background-color: red;
}