.FeedList {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
  width: 500px;
}

.feed-description {

}

.feed-name {

}

.FeedList button {
  position: relative;

}

.feed-video-list {
  position: relative;
  margin: 50px;
  width: 40vw;
  height: 30vh;
}

.feed-video-aside {
  position: relative;
}

.feed-aside {
  grid-column: 1;
  width: 40vw;
  margin-left: 10vw;
  margin-top: 10vh;
}

.feed-title {
  font-size: xx-large;
}