.FeedPage {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  border: #333 solid 5px;
  background-color: white;
  width: 100vw;
  height: 600px;
  
}

.structure {
  display: grid;
  justify-content: center;
  background-color: #333;
}

h1 {
  background-color: white;
  padding: 30px;
}