.FeedPage {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  border: #333 solid 5px;
  background-color: white;
  width: 100vw;
  height: 80vmin;
}

.structure {
  display: grid;
  justify-content: center;
  padding-top: 2.5rem;
}

h1 {
  background-color: white;
  padding: 1.5vmin;
}