.SupportBody {
  padding: 50px;
}

.SupportBody .header {
  font-size: xx-large;
}

.SupportBody .question {
  border: #333 solid 2px;
  color: #333;
  font-size: x-large;
  padding: 15px;
  margin: 30px;
}
.SupportBody .answer {
  color: #333;
  font-size: large;
  padding: 20px;
}